<%= link_to events_path, class: "chip blue white-text u-back" do %>
  <%= material_icon.chevron_left %> Back to Events
<% end %>

<div class="row">
  <div class="col s12 m12 l4">
    <%= render partial: "common/event-content", locals: { event: @event } %>
  </div>
  <div class="col s12 m12 l8">
    <ul class="collection event-list">
      <% @event_details.each do |detail| %>
        <li class="collection-item event-item">
          <%= link_to event_detail_path(@event, detail), class: "event-item-content event-item-title black-text" do %>
            <%= detail.title %>
          <% end %>
          <% if current_user %>
            <div class="event-item-content event-item-actions">
              <% if current_user && @event.user.id == current_user.id || current_user && current_user.admin? %>
                <%= link_to "Edit", edit_event_detail_path(@event, detail) %>
                <%= link_to "Remove", [@event, detail], method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
            </div>
          <% else %>
            <div class="event-item-content event-item-actions u-next">
              <%= link_to event_detail_path(@event, detail), class: "chip blue white-text" do %>
                <%= material_icon.chevron_right %> Open
              <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    
    <% if current_user && @event.user.id == current_user.id || current_user && current_user.admin? %>
      <div class="u-next">
        <%= link_to new_event_detail_path(@event), class: "chip blue white-text" do %>
          <%= material_icon.chevron_right %> Add Detail
        <% end %>
      </div>
    <% end %>
  </div>
</div>